<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanda.creditapp.msg.dao.MsgDetailMapper" >
  <resultMap id="BaseResultMap" type="com.wanda.creditapp.msg.domain.MsgDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="msg_receiver" property="msgReceiver" jdbcType="VARCHAR" />
    <result column="msg_title" property="msgTitle" jdbcType="VARCHAR" />
    <result column="msg_content" property="msgContent" jdbcType="VARCHAR" />
    <result column="msg_type" property="msgType" jdbcType="INTEGER" />
    <result column="verify_code_id" property="verifyCodeId" jdbcType="VARCHAR" />
    <result column="data_status" property="dataStatus" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from app_msg_details
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wanda.creditapp.msg.domain.MsgDetail" >
    insert into app_msg_details (id, msg_receiver, msg_title, 
      msg_content, msg_type, verify_code_id, 
      data_status, created_at, updated_at, 
      create_user, update_user)
    values (#{id,jdbcType=INTEGER}, #{msgReceiver,jdbcType=VARCHAR}, #{msgTitle,jdbcType=VARCHAR}, 
      #{msgContent,jdbcType=VARCHAR}, #{msgType,jdbcType=INTEGER}, #{verifyCodeId,jdbcType=VARCHAR}, 
      #{dataStatus,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wanda.creditapp.msg.domain.MsgDetail" >
    update app_msg_details
    set msg_receiver = #{msgReceiver,jdbcType=VARCHAR},
      msg_title = #{msgTitle,jdbcType=VARCHAR},
      msg_content = #{msgContent,jdbcType=VARCHAR},
      msg_type = #{msgType,jdbcType=INTEGER},
      verify_code_id = #{verifyCodeId,jdbcType=VARCHAR},
      data_status = #{dataStatus,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, msg_receiver, msg_title, msg_content, msg_type, verify_code_id, data_status, 
    created_at, updated_at, create_user, update_user
    from app_msg_details
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, msg_receiver, msg_title, msg_content, msg_type, verify_code_id, data_status, 
    created_at, updated_at, create_user, update_user
    from app_msg_details
  </select>
</mapper>