<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanda.creditapp.msg.dao.TsmMessagesMapper" >
  <resultMap id="BaseResultMap" type="com.wanda.creditapp.msg.domain.TsmMessages" >
    <id column="MESSAGEID" property="messageid" jdbcType="VARCHAR" />
    <result column="TARGET" property="target" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="PRIORITY" property="priority" jdbcType="INTEGER" />
    <result column="MESSAGETYPE" property="messagetype" jdbcType="INTEGER" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="TARGETTIME" property="targettime" jdbcType="TIMESTAMP" />
    <result column="SENDTIME" property="sendtime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="TRYTIMES" property="trytimes" jdbcType="INTEGER" />
    <result column="ERRORINFO" property="errorinfo" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tsm_messages
    where MESSAGEID = #{messageid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wanda.creditapp.msg.domain.TsmMessages" >
    insert into tsm_messages (MESSAGEID, TARGET, TITLE, 
      CONTENT, PRIORITY, MESSAGETYPE, 
      CREATETIME, TARGETTIME, SENDTIME, 
      STATUS, TRYTIMES, ERRORINFO
      )
    values (#{messageid,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{priority,jdbcType=INTEGER}, #{messagetype,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{targettime,jdbcType=TIMESTAMP}, #{sendtime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{trytimes,jdbcType=INTEGER}, #{errorinfo,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wanda.creditapp.msg.domain.TsmMessages" >
    update tsm_messages
    set TARGET = #{target,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      PRIORITY = #{priority,jdbcType=INTEGER},
      MESSAGETYPE = #{messagetype,jdbcType=INTEGER},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      TARGETTIME = #{targettime,jdbcType=TIMESTAMP},
      SENDTIME = #{sendtime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=INTEGER},
      TRYTIMES = #{trytimes,jdbcType=INTEGER},
      ERRORINFO = #{errorinfo,jdbcType=VARCHAR}
    where MESSAGEID = #{messageid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select MESSAGEID, TARGET, TITLE, CONTENT, PRIORITY, MESSAGETYPE, CREATETIME, TARGETTIME, 
    SENDTIME, STATUS, TRYTIMES, ERRORINFO
    from tsm_messages
    where MESSAGEID = #{messageid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select MESSAGEID, TARGET, TITLE, CONTENT, PRIORITY, MESSAGETYPE, CREATETIME, TARGETTIME, 
    SENDTIME, STATUS, TRYTIMES, ERRORINFO
    from tsm_messages
  </select>
</mapper>