<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanda.creditapp.msg.dao.VerifyConfigMapper" >
  <resultMap id="BaseResultMap" type="com.wanda.creditapp.msg.domain.VerifyConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="config_name" property="configName" jdbcType="VARCHAR" />
    <result column="template_code" property="templateCode" jdbcType="VARCHAR" />
    <result column="verifyCode_validTime" property="verifycodeValidtime" jdbcType="INTEGER" />
    <result column="verify_type" property="verifyType" jdbcType="INTEGER" />
    <result column="verify_length" property="verifyLength" jdbcType="INTEGER" />
    <result column="verify_charArray" property="verifyChararray" jdbcType="VARCHAR" />
    <result column="data_status" property="dataStatus" jdbcType="INTEGER" />
    <result column="data_version" property="dataVersion" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from app_verify_configs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wanda.creditapp.msg.domain.VerifyConfig" >
    insert into app_verify_configs (id, config_name, template_code, 
      verifyCode_validTime, verify_type, verify_length, 
      verify_charArray, data_status, data_version, 
      created_at, updated_at, create_user, 
      update_user)
    values (#{id,jdbcType=INTEGER}, #{configName,jdbcType=VARCHAR}, #{templateCode,jdbcType=VARCHAR}, 
      #{verifycodeValidtime,jdbcType=INTEGER}, #{verifyType,jdbcType=INTEGER}, #{verifyLength,jdbcType=INTEGER}, 
      #{verifyChararray,jdbcType=VARCHAR}, #{dataStatus,jdbcType=INTEGER}, #{dataVersion,jdbcType=INTEGER}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{updateUser,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wanda.creditapp.msg.domain.VerifyConfig" >
    update app_verify_configs
    set config_name = #{configName,jdbcType=VARCHAR},
      template_code = #{templateCode,jdbcType=VARCHAR},
      verifyCode_validTime = #{verifycodeValidtime,jdbcType=INTEGER},
      verify_type = #{verifyType,jdbcType=INTEGER},
      verify_length = #{verifyLength,jdbcType=INTEGER},
      verify_charArray = #{verifyChararray,jdbcType=VARCHAR},
      data_status = #{dataStatus,jdbcType=INTEGER},
      data_version = #{dataVersion,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, config_name, template_code, verifyCode_validTime, verify_type, verify_length, 
    verify_charArray, data_status, data_version, created_at, updated_at, create_user, 
    update_user
    from app_verify_configs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, config_name, template_code, verifyCode_validTime, verify_type, verify_length, 
    verify_charArray, data_status, data_version, created_at, updated_at, create_user, 
    update_user
    from app_verify_configs
  </select>
  <select id="getByVerifyType" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, config_name, template_code, verifyCode_validTime, verify_type, verify_length, 
    verify_charArray, data_status, data_version, created_at, updated_at, create_user, 
    update_user
    from app_verify_configs
    where verify_type = #{verifyType,jdbcType=INTEGER}
  </select>
</mapper>