<div>
    <wd-ui-scroll-tab class="ui-row ui-tab" data-index="{{ current_nav }}" data-tab=".nav-bar">
        <ul class="nav-bar ui-tab-nav ui-border-b">
            <li ng-repeat="nav_bar in ar_nav_bar" class="nav_btn"
                ng-class="{'current': current_nav == nav_bar.key }"
                data-key="{{ nav_bar.key }}"
                ng-click="selectTab(nav_bar.key)" >{{ nav_bar.value }}</li>
        </ul>
        <div class="tab-content">
            <div class="mg-top10 content_education" ng-show="current_nav == '1'">
                <section class="ui-col ui-col-50">
                    <div class="ui-border-b detail_item" ng-repeat="info in ar_education_info">
                        <label class="label_left">{{ info.value }}</label>
                        <label class="label_right">{{ar_education[info.key]}}</label>
                    </div>
                </section>
                <section class="ui-col ui-col-50 ui-placehold-img ui-border-tb">
                    <span style="background-image:url(http://placeholder.qiniudn.com/170x375)"></span>
                </section>
                <div class="clear"></div>
                <section class="mg-top10 ui-border-tb detail_area">
                    <section class="ui-col ui-col-50 ui-border-b ui-border-r detail_item"
                         ng-repeat="edu in ar_education_section">
                        <label class="label_left">{{ edu.value }}</label>
                        <label class="label_right">{{ar_education[edu.key]}}</label>
                    </section>
                </section>
            </div>
            <div class="mg-top10 content_education" ng-show="current_nav == '2'">
                test2
            </div>
            <div class="mg-top10 content_education" ng-show="current_nav == '3'" >
                test3
            </div>
            <div class="mg-top10 content_education" ng-show="current_nav == '4'">
                test4
            </div>
            <div class="mg-top10 content_education" ng-show="current_nav == '5'">
                test5
            </div>
            <div class="mg-top10 content_education" ng-show="current_nav == '6'">
                test6
            </div>
            <div class="mg-top10 content_education" ng-show="current_nav == '7'">
                test7
            </div>
            <div class="mg-top10 content_education" ng-show="current_nav == '8'">
                test8
            </div>
            <div class="mg-top10 content_education" ng-show="current_nav == '9'">
                test9
            </div>
            </li>
        </div>
    </wd-ui-scroll-tab>
</div>