<div class="password-group">
    <p class="password-label">
        请输入6位交易密码
    </p>
    <ul class="password-inputs password-origin">
        <li class="password-input" />
        <li class="password-input" />
        <li class="password-input" />
        <li class="password-input" />
        <li class="password-input" />
        <li class="password-input" />
    </ul>
</div>
<div class="footer-description">
    <p>如忘记密码，请联系客服处理</p>
    <p>400-886-6277</p>
</div>
<input autofocus type="tel" id="csrf" style="position: absolute !important;  height: 1px;  width: 1px; top:0px;left:-10000000px;  overflow: hidden;  clip: rect(1px,1px,1px,1px);" ng-model="_inputpwd" ng-change="keyUp()" />