<div class="ui-container" ng-cloak>
    <p class="hint-left row-hint">请输入借记卡信息</p>
    <div class="ui-form ui-border-t">
        <div class="ui-form-item ui-form-item-show ui-form-item-link ui-border-b " ng-click="Linkbankcardlist()">
            <label class="usr-input" for="#bankcardNo">银行卡号:</label>
            <span class="form-input-readonly usr-input">{{bankcard.accountNoEncrypted}}</span>
        </div>
        <div class="ui-form-item ui-form-item-show ui-border-b">
            <label class="usr-input" for="#issueBank">发卡行:</label>
            <span class="form-input-readonly usr-input">{{bankcard.issueBank}}</span>
        </div>
    </div>
    <p class="hint-left row-hint">银行预留手机号</p>
    <div class="ui-form ui-border-t">
        <div class="ui-form-item ui-form-item-show ui-border-b">
            <label class="usr-input" for="phoneNo">手机号:</label>
            <span class="form-input-readonly usr-input">{{bankcard.phoneNoEncrypted}}</span>
        </div>
        <div id="verifyContainer" class="ui-form-item ui-form-item-show ui-border-b">
            <button class="verify-code ui-btn" ng-disabled='!isBankcardSelected||verifyCodeTimeout' ng-click='GetVerifyCode()'>
                {{timesout}}
            </button>
            <label class="usr-input" for="verifyCode">验证码:</label>
            <input class="usr-input" id="verifyCode" name="verifyCode" ng-model='verifyCode' type="tel" value="" maxlength="6" placeholder="请输入验证码" ng-change='onVerifyCodeChange()' required>
        </div>
    </div>
    <div class="ui-footer ui-footer-stable" fix-bottom>
        <button class="ui-btn-lg ui-btn-primary wd92" ng-click='submit()' ng-disabled="!isVerifyCodeInput || !isBankcardSelected">
            下一步
        </button>
    </div>
</div>
