<div class="ui-container" ng-cloak>
    <p class="hint-left row-hint">请填写个人信息</p>
    <div class="ui-form ui-border-t">
        <div class="ui-form-item ui-border-b">
            <p>
                <h6 class="wd-check-phoneno">{{my_phone_error_msg}}</h6></p>
            <label for="my_phone" class="usr-input">
                个人手机
            </label>
            <input id="my_phone" name="my_phone" type="tel" placeholder="请输入手机号码" maxlength="11" ng-model="my_phone" ng-change="my_phone_change()">
        </div>
        <div class="ui-form-item ui-form-item-textarea ui-border-b" style="height: 120px;">
            <label for="my_address" class="usr-input">
                个人住址
            </label>
            <div id="my_PCR" name="my_PCR" class="ui-form-item-mutliline ui-select">
                <input type="text" readonly placeholder="请选择省市区" ng-model="cityShow" ng-click="callNative_SelectCity()">
            </div>
            <textarea id="my_address" name="my_address" placeholder="请输入街道等详细地址" rows="2" cols="14" style="height: 50px;" ng-model="my_address" ng-change="address_change()">
            </textarea>
        </div>
    </div>
    <p class="hint-left row-hint">请填写联系人信息</p>
    <div class="ui-form ui-border-t">
        <div class="ui-form-item ui-border-b">
            <label for="my_contact" class="usr-input">
                联系人
            </label>
            <input id="my_contact" name="my_contact" type="text" placeholder="请输入联系人姓名" ng-model="my_contact" ng-change="my_contact_change()">
        </div>
        <div class="ui-form-item ui-border-b">
            <label for="my_relation" class="usr-input">
                联系人关系
            </label>
            <div id="my_relation" name="my_relation" class="ui-select">
                <select ng-model="my_contact_relation" name="my_contact_relation" id="my_contact_relation">
                    <option value="1">亲属</option>
                    <option value="2">朋友</option>
                    <option value="3">同事</option>
                    <option value="0">其他</option>
                </select>
            </div>
        </div>
        <div class="ui-form-item ui-form-item-show ui-border-b">
            <p>
                <h6 class="wd-check-phoneno">{{my_contact_phone_error_msg}}</h6></p>
            <label for="my_contact_phone" class="usr-input">
                联系人手机
            </label>
            <input id="my_contact_phone" name="my_contact_phone" type="tel" placeholder="请输入联系人手机号" maxlength="11" ng-model="my_contact_phone" ng-change="my_contact_phone_change()">
        </div>
    </div>
    <!--<div class="ui-footer ui-footer-stable" ng-show="buttonVisible">-->
    <div class="ui-footer ui-footer-stable" fix-bottom>
        <button class="ui-btn-lg ui-btn-primary wd92" ng-disabled="!my_phone || !my_address || !my_contact || !my_contact_phone || phone_error" ng-click="contactinfo_submit()">
            确定
        </button>
    </div>
    <!--</div>-->
</div>
