<div class="ui-container" ng-cloak>
    <div id="face_start" ng-hide="flag_face_error">
        <div style="margin-top: 20px;">
            <p class="hint">请完成人脸识别</p>
        </div>
        <div class="ui-flex ui-flex-pack-center" style="margin: 15px 0 0 0;">
            <div class="wd-this-photo-container" style="text-align: center; width: 55%;">
                <img class="ui-flex ui-flex-pack-center ui-flex-align-center" style="width: 100%" alt="点击识别" onerror="this.src = '../imgs/livebody-img-error.png';" src="../imgs/main.png">
            </div>
        </div>
        <div class="ui-flex  ">
            <div class="wd-this-photo-container" style="text-align: center; width: 50%">
                <img class="ui-flex ui-flex-pack-center ui-flex-align-center" style="width: 100%; " src="../imgs/livebody-instr.png">
            </div>
        </div>
        <div class="ui-footer ui-footer-stable fixed-bottom-no-input">
            <button class="ui-btn-lg ui-btn-primary wd92" ng-click="livebody_submit()">
                开始识别
            </button>
        </div>
    </div>
    <div id="face_error" ng-show="flag_face_error">
        <div class="ui-flex ui-flex-pack-center ui-flex-align-center" style="margin-top: 30px;">
            <p class="hint-left" style="font-size: 16px; color: red;">识别失败，请重新拍摄</p>
        </div>
        <div class="ui-flex ui-flex-pack-center ui-flex-align-center" style="margin-top: 30px;">
            <div class="photo-container">
                <img class="ui-flex ui-flex-pack-center ui-flex-align-center" style="width: 68%; margin: auto;" alt="点击识别" onerror="this.src = '../imgs/livebody-img-error.png';" src="../imgs/livebody-error.png">
            </div>
        </div>
        <div class="ui-flex ui-flex-pack-center" style="font-size: 14px; margin-top: 30px;">
            <p class="wd-hint-text-red">您今天还有{{retryWarning}}次机会重试</p>
        </div>
        <div class="ui-footer ui-footer-stable fixed-bottom-no-input" style="margin-bottom: 10px;">
            <button class="ui-btn-lg ui-btn-primary wd92" ng-click="livebody_submit()">
                重新验证
            </button>
        </div>
    </div>
