.info_area{
  height: 180px;
}
.list_info_area{
  background-color: #fff;
  height: 100px;
  padding: 10px 30px;
  .detail_item{
    height: 30px;
    line-height: 30px;
    .label_left{
      color: #999;
      width: 100px;
    }
    .label_right{
      color: #222;
    }
  }
}
.message_info_item{
  .label_left{
    display: inline-block;
    width: 100px;
    color: #999;
  }
  .label_right{
    display: inline-block;
    color: #222;
  }
}
h2{
  padding-left: 15px;
}
.ui-flex.info_title_head{
  display: -webkit-box;
}
.ui-flex.info_title_head h3 {
  -webkit-box-flex: 2;
}
table{
  tr td{
    border-top: 1px solid #e0e0e0;
  }
  .date{
    width: 25%;
  }
  .project{
    width: 33%;
  }
  .amount{
    width: 20%;
  }
}
