.result {
    padding-top: 70px;
    .result-img {
        margin: 0 auto;
        width: 100px;
        height: 100px;
        background-size: 100px 100px;
    }
    .product-success {
        background-image: url("../../imgs/success_icon.png");
    }
    .product-failure {
        background-image: url("../../imgs/fail_icon.png");
    }
    .product-reject {
        background-image: url("../../imgs/reject_icon.png");
    }
    .repayment-success {
        background-image: url("../../imgs/success_icon.png");
    }
    .repayment-failure {
        background-image: url("../../imgs/fail_icon.png");
    }
    .result-main {
        font-family: PingFangSC-Regular;
        font-size: 16px;
        color: #666666;
        line-height: 16px;
        text-align: center;
        margin: 28px auto 0px auto;
        width: 80%;
    }
    .result-alt {
        width: 80%;
        font-size: 14px;
        color: #999999;
        margin: 16px auto 0px auto;
    }
    .action-btn {
        background: #ffffff;
        border: 1px solid #c0c0c0;
        border-radius: 4px;
        margin: 80px auto 0 auto;
        width: 140px;
        height: 36px;
        line-height: 36px;
    }
    .ui-footer-absolute {
        position: absolute;
        bottom: 0px;
        width: 100%;
        .footer-description {
            padding-bottom: 20px;
            margin-top: 40px;
        }
        .footer-description p {
            text-align: center;
            font-size: 14px;
            color: #888888;
            letter-spacing: 0px;
            line-height: 20px;
        }
    }
}
