    .verify-code {
        background: #3d95eb;
        width: 105px;
        height: 36px;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #ffffff;
        text-align: center;
        position: absolute;
        right: 5px;
        margin: 4px 0 0 0;
    }
    
    #verifyContainer {
        padding-right: 0px;
        position: relative;
    }
    
    input#phoneNo {
        /*width: 75%;*/
    }
    
    h6.check_phoneNo {
        color: #cc1818;
        font-size: 10px;
        text-align: right;
        margin-right: 10px;
        display: inline-block;
        position: absolute;
        right: 0px;
    }
    
    i.ui-icon-info {
        margin-right: 10px;
        display: inline-block;
        position: absolute;
        right: 0px;
    }
    
    .bank_info_left {
        text-align: left;
    }
    
    .bank_title_margin {
        margin-left: 20px;
    }
    
    .ui-bankcard-list {}
    
    .ui-bankcard-list >.ui-bankcard-list-item,
    .ui-bankcard-list:active >.ui-bankcard-list-item {
        background-color: #f5f6fa;
        margin: 0 10px 10px 10px;
        border-radius: 5px;
        color: #fff;
        padding: 10px 10px 10px 20px;
        display: block;
    }
    
    .ui-bankcard-list-item .ui-bankcard-list-bankinfo {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding-bottom: 12px;
    }
    
    .ui-bankcard-list-item .ui-bankcard-list-cardno {
        padding-left: 50px;
        height: 26px;
        line-height: 26px;
        margin-bottom: 22px;
    }
    
    .ui-bankcard-list-bankinfo .issueBank {
        font-size: 18px;
    }
    
    .ui-bankcard-list-cardno .cardnoEncrypted {
        font-size: 24px;
    }
    
    .ui-bankcard-list >li p {
        color: #fff;
    }
    
    .ui-bankcard-title {
        height: 34px;
        line-height: 34px;
    }
    
    .ui-bankcard-cardno {
        height: 55px;
    }
    
    .ui-list {
        background-color: #f5f6fa;
        width: 100%;
    }
