div.photo-container {
    position: relative;
    margin-bottom: 40px;
    border-radius: 6px;
    width: 148px;
    height: 93px;
    cursor: pointer;
}

div.photo-container:hover> .circle-container {
    display: -webkit-box;
}

div.photo-front {
    background-image: url("../../imgs/idcard_front.png");
    background-size: contain;
}

div.photo-back {
    background-image: url("../../imgs/idcard_back.png");
    background-size: contain;
}

.top-container {
    background-color: white;
    padding-bottom: 10px;
    padding-top: 21px;
}

div.gap {
    width: 15px;
    height: 1px;
}

.photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

div.circle-container {
    text-align: center;
    background: #3d95eb;
    top: 14px;
    left: 41.5px;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    position: absolute;
    display: none;
}

i.icon-camera {
    color: white;
}

.ui-form-item-show h6.check_expire {
    color: #cc1818;
    font-size: 10px;
    text-align: right;
    width: 80px;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    right: 0px;
}

p.hint {
    padding-top: 10px;
}

.card-area {
    height: 93px;
}

label.form-title {
    font-size: 16px;
}

input:read-only {
    color: #999;
}

input {
    font-family: inherit;
    font-size: 16px;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
}

.idard-agreement {
    padding: 15px;
}
