<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanda.creditapp.user.dao.CarIllegalMapper" >
  <resultMap id="BaseResultMap" type="com.wanda.creditapp.user.domain.CarIllegalDomain" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="car_number" property="carNumber" jdbcType="VARCHAR" />
    <result column="car_type" property="carType" jdbcType="INTEGER" />
    <result column="car_code" property="carCode" jdbcType="VARCHAR" />
    <result column="car_engine" property="carEngine" jdbcType="VARCHAR" />
    <result column="car_illegals" property="carIllegals" jdbcType="VARCHAR" />
    <result column="car_status" property="carStatus" jdbcType="VARCHAR" />
    
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="data_status" property="dataStatus" jdbcType="INTEGER" />
    <result column="data_version" property="dataVersion" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  
 
   <select id="queryIllegalCar" resultMap="BaseResultMap">
	    select *
	    from app_car_illegal_info
	  	where   car_licence=#{carLicence} and  car_type=#{carType}  
	  	    and car_code=#{carCode}       and  car_engine=#{carEngine}
  </select> 
 
</mapper>