<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanda.creditapp.user.dao.QueryRecordMapper" >
  <resultMap id="BaseResultMap" type="com.wanda.creditapp.user.domain.QueryRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parameter" property="parameter" jdbcType="VARCHAR" />
    <result column="query_time" property="queryTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="product_type" property="productType" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="data_version" property="dataVersion" jdbcType="INTEGER" />
    <result column="result" property="result" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from app_query_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wanda.creditapp.user.domain.QueryRecord" >
    insert into app_query_record (parameter, query_time, 
      user_id, product_type, created_at, 
      updated_at, create_user, update_user, 
      data_version, result)
    values (#{parameter,jdbcType=VARCHAR}, #{queryTime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=INTEGER}, #{productType,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, 
      #{dataVersion,jdbcType=INTEGER}, #{result,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wanda.creditapp.user.domain.QueryRecord" >
    update app_query_record
    set parameter = #{parameter,jdbcType=VARCHAR},
      query_time = #{queryTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      product_type = #{productType,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      data_version = #{dataVersion,jdbcType=INTEGER},
      result = #{result,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, parameter, query_time, user_id, product_type, created_at, updated_at, 
    create_user, update_user, data_version, result
    from app_query_record
    where id = #{id,jdbcType=INTEGER} and user_id=#{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, parameter, query_time, user_id, product_type, created_at, updated_at, 
    create_user, update_user, data_version, result
    from app_query_record
  </select>
  
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select id, parameter, query_time, user_id, product_type, created_at, updated_at, 
    create_user, update_user, data_version, result
    from app_query_record where user_id=#{userId,jdbcType=INTEGER}
  </select>
</mapper>