<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanda.creditapp.user.dao.QueryRecordMapper" >
  <resultMap id="BaseResultMap" type="com.wanda.creditapp.user.domain.QueryRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="serialNo" property="serialno" jdbcType="VARCHAR" />
    <result column="productType" property="producttype" jdbcType="VARCHAR" />
    <result column="parameter" property="parameter" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="response" property="response" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from app_query_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wanda.creditapp.user.domain.QueryRecord" >
    insert into app_query_record (id, serialNo, productType, 
      parameter, userId, created_at, 
      updated_at, create_user, update_user, 
      version, response)
    values (#{id,jdbcType=INTEGER}, #{serialno,jdbcType=VARCHAR}, #{producttype,jdbcType=VARCHAR}, 
      #{parameter,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, 
      #{version,jdbcType=INTEGER}, #{response,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wanda.creditapp.user.domain.QueryRecord" >
    update app_query_record
    set serialNo = #{serialno,jdbcType=VARCHAR},
      productType = #{producttype,jdbcType=VARCHAR},
      parameter = #{parameter,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      response = #{response,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, serialNo, productType, parameter, userId, created_at, updated_at, create_user, 
    update_user, version, response
    from app_query_record
  </select>
  
  <sql id="selectAllFields">
  	q.id id,
  	q.serialNo serialNo,
  	q.productType productType,
  	q.parameter parameter,
  	q.response response,
  	q.userId userId,
  	q.created_at createdAt,
  	q.updated_at updatedAt,
  	q.createUser createUser,
  	q.updateUser updateUser,
  	q.version version
  </sql>
  
  <sql id="table_name">app_query_record q</sql>
  
  <select id="selectByPrimaryKey" resultType="com.wanda.creditapp.user.domain.QueryRecord" parameterType="java.lang.Integer">
  	select <include refid="selectAllFields"/> from <include refid="table_name"/> where q.id=#{id,jdbcType=INTEGER}
  </select>
  
  
  
  
</mapper>