<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanda.creditapp.user.dao.UserDomainMapper">
	<resultMap id="BaseResultMap" type="com.wanda.creditapp.user.domain.UserDomain">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uap_pwid" property="uapPwid" jdbcType="VARCHAR" />
		<result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="user_password" property="userPassword" jdbcType="VARCHAR" />
		<result column="user_relname" property="userRelname" jdbcType="VARCHAR" />
		<result column="user_gender" property="userGender" jdbcType="INTEGER" />
		<result column="user_id_number" property="userIdNumber" jdbcType="VARCHAR" />
		<result column="user_type" property="userType" jdbcType="INTEGER" />
		<result column="user_nickname" property="userNickname" jdbcType="VARCHAR" />
		<result column="user_email" property="userEmail" jdbcType="VARCHAR" />
		<result column="user_imgurl" property="userImgurl" jdbcType="VARCHAR" />
		<result column="user_imgpath" property="userImgpath" jdbcType="VARCHAR" />
		<result column="user_message" property="userMessage" jdbcType="VARCHAR" />
		<result column="data_status" property="dataStatus" jdbcType="INTEGER" />
		<result column="data_version" property="dataVersion" jdbcType="INTEGER" />
		<result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from app_users
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.wanda.creditapp.user.domain.UserDomain">
		insert into app_users (id, uap_pwid, user_phone,
		user_name, user_password, user_relname,
		user_gender, user_id_number, user_type,
		user_nickname, user_email, user_imgurl,
		user_imgpath, user_message, data_status,
		data_version, created_at, updated_at,
		create_user, update_user)
		values (#{id,jdbcType=INTEGER}, #{uapPwid,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR},
		#{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, #{userRelname,jdbcType=VARCHAR},
		#{userGender,jdbcType=INTEGER}, #{userIdNumber,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER},
		#{userNickname,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, #{userImgurl,jdbcType=VARCHAR},
		#{userImgpath,jdbcType=VARCHAR}, #{userMessage,jdbcType=VARCHAR}, #{dataStatus,jdbcType=INTEGER},
		#{dataVersion,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP},
		#{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.wanda.creditapp.user.domain.UserDomain">
		update app_users
		set uap_pwid = #{uapPwid,jdbcType=VARCHAR},
		user_phone = #{userPhone,jdbcType=VARCHAR},
		user_name = #{userName,jdbcType=VARCHAR},
		user_password = #{userPassword,jdbcType=VARCHAR},
		user_relname = #{userRelname,jdbcType=VARCHAR},
		user_gender = #{userGender,jdbcType=INTEGER},
		user_id_number = #{userIdNumber,jdbcType=VARCHAR},
		user_type = #{userType,jdbcType=INTEGER},
		user_nickname = #{userNickname,jdbcType=VARCHAR},
		user_email = #{userEmail,jdbcType=VARCHAR},
		user_imgurl = #{userImgurl,jdbcType=VARCHAR},
		user_imgpath = #{userImgpath,jdbcType=VARCHAR},
		user_message = #{userMessage,jdbcType=VARCHAR},
		data_status = #{dataStatus,jdbcType=INTEGER},
		data_version = #{dataVersion,jdbcType=INTEGER},
		created_at = #{createdAt,jdbcType=TIMESTAMP},
		updated_at = #{updatedAt,jdbcType=TIMESTAMP},
		create_user = #{createUser,jdbcType=VARCHAR},
		update_user = #{updateUser,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select id, uap_pwid, user_phone, user_name, user_password, user_relname, user_gender,
		user_id_number, user_type, user_nickname, user_email, user_imgurl, user_imgpath,
		user_message, data_status, data_version, created_at, updated_at, create_user, update_user
		from app_users
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select id, uap_pwid, user_phone, user_name, user_password, user_relname, user_gender,
		user_id_number, user_type, user_nickname, user_email, user_imgurl, user_imgpath,
		user_message, data_status, data_version, created_at, updated_at, create_user, update_user
		from app_users
	</select>
	<!--用户登录 -->
	<select id="queryUserByPhoneAndPwd" resultMap="BaseResultMap" parameterType="com.wanda.creditapp.user.domain.UserDomain">
		select id, uap_pwid, user_phone, user_name, user_password, user_relname, user_gender,
				user_id_number, user_type, user_nickname, user_email, user_imgurl, user_imgpath,
				user_message, data_status, data_version, create_user, update_user
		from app_users
		where user_phone = #{userPhone,jdbcType=VARCHAR}
		and user_password = #{userPassword,jdbcType=VARCHAR}
	</select>

	<!--判断手机号是否已被注册 -->
	<select id="queryUserPhoneByPhone" resultMap="BaseResultMap" parameterType="java.lang.String">
		select *
		from app_users
		where user_phone = #{userPhone,jdbcType=VARCHAR}
	</select>

	<!--判断登录密码是否正确 -->
	<select id="queryPwdByPhone" resultMap="BaseResultMap" parameterType="java.lang.String">
		select user_password
		from app_users
		where user_phone = #{userPhone,jdbcType=VARCHAR}
	</select>

	<!--通过pwid,判断原密码是否正确 -->
	<select id="queryOldPwdByPwid" resultMap="BaseResultMap" parameterType="java.lang.String">
		select user_password
		from app_users
		where uap_pwid = #{uapPwid,jdbcType=VARCHAR}
	</select>
</mapper>