.prepayment-page {
    .ui-footer-confirm,
    .ui-row-flex {
        height: 50px;
    }
    .prepayment-total,
    .prepayment-tips {
        padding-left: 15px;
    }
    .prepayment-total {
        height: 18px;
        line-height: 20px;
        margin: 6px 0;
        np label {
            margin-right: 5px;
        }
        span {
            height: 18px;
            line-height: 20px;
        }
    }
    .prepayment-tips {
        font-size: 10px;
        color: #999999;
    }
    .confirm-btn {
        background-color: #3d95eb;
        font-size: 18px;
        color: #fff;
        line-height: 50px;
        text-align: center;
        display: block;
    }
    .confirm-btn:disabled {
        opacity: 0.4;
    }
}
