<!DOCTYPE html>
<html>

<head>
    <title>首页</title>
</head>

<body>
    <div style="float:left;clear:left;margin-top:50px;text-align:center;font-size:40px;">
        <a href="http://localhost:3012/views/personal.html">查个人</a>
    </div>
    <div style="float:left;clear:left;margin-top:50px;text-align:center;font-size:40px;">
        <a href="http://localhost:3012/views/centralBank.html">查人行</a>
    </div>
    <div style="float:left;clear:left;margin-top:50px;text-align:center;font-size:40px;">
        <a href="http://localhost:3012/views/trafficPeccancy.html">查车辆</a>
    </div>
    <div style="float:left;clear:left;margin-top:50px;text-align:center;font-size:40px;">
        <a href="http://localhost:3012/views/housingFund.html">查公积金</a>
    </div>
</body>

</html>
