<div>
    <section class="mg-top10 ui-border-tb icon_detail_area">
        <div class="info_title_head ui-flex ui-border-b ui-flex-align-center">
            <img src="../../imgs/trafficPeccancy/car.png" />
            <h2>{{car_item.name}}</h2>
            <i class="ui-flex-pack-end">更新于{{car_item.time}}</i>
        </div>
        <div class="info_title_content title_icon_area">
            <ul>
                <li class="ui-col ui-col-33 title_icon" ng-repeat="(info_k, info_v) in car_item.info">
                    <div>{{info_v}}</div>
                    <i>{{ar_item[info_k]}}</i>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </section>
    <section ng-repeat="item in ar_item_detail" class="mg-top10 info_area">
        <div class="detail_item">
            <label class="label_left">时间</label><label class="label_right">{{item.time}}</label>
        </div>
        <div class="detail_item">
            <label class="label_left">地点</label><label class="label_right">{{item.place}}</label>
        </div>
        <div class="detail_item">
            <label class="label_left">行为</label><label class="label_right">{{item.reason}}</label>
        </div>
        <div class="detail_item">
            <label class="label_left">扣分</label><label class="label_right">{{item.points}}</label>
        </div>
        <div class="detail_item">
            <label class="label_left">罚款</label><label class="label_right">{{item.fine}}</label>
        </div>
        <div class="clear"></div>
    </section>
</div>