<div>
    <section class="mg-top10 ui-border-tb icon_detail_area" ng-repeat="car_item in ar_car_item">
        <div class="info_title_head ui-flex ui-border-b ui-flex-align-center">
            <img src="../../imgs/trafficPeccancy/car.png" />
            <h2>{{car_item.name}}</h2>
            <i class="ui-icon-arrow ui-flex-pack-end" ng-click="showDetail(car_item.id)"></i>
        </div>
        <div class="info_title_content title_icon_area">
            <ul>
                <li class="ui-col ui-col-33 title_icon" ng-repeat="(info_k, info_v) in car_item.info">
                    <div>{{info_v}}</div>
                    <i>{{ar_item[info_k]}}</i>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </section>
    <button class="ui-row ui-btn-lg ui-btn-primary mg-top30" ng-click="addCar()">添加车辆</button>
</div>