.loan-apply {
    color: #222;
    input, select{
        border:0;
        -webkit-appearance: none;
    }

    select{
        -webkit-appearance: none;
    }
    height: 100%;
    background-color: #fafdfb;
    font-size: 14px;
    .down-arrow {
        height: 0;
        width: 0;
        background: transparent;
        border: 6px solid #ccc;
        border-color: #ccc transparent transparent;
        display: inline-block;
    }

    .label{
        color: #666;
    }
    .product-name,
    .product-count,
    .product-pay-num,
    .product-rate,
    .product-address {
        background-color: #ffffff;
        height: 44px;
        line-height: 44px;
    }
    .product-address {
        height: 88px;
        margin-top: 10px;
        color: #c0c0c0;
        input{
            color: #c0c0c0;
        }
        >p {
            height: 44px;
            line-height: 44px;
        }
    }
    .flex-con {
        display: flex;
        span:first-child {
            flex: 1
        }
        span:last-child {
            text-align: center;
            width: 30px;
            display: flex;
            justify-content:ceneter;
            align-items:center;
        }
    }
    .product-pay-num {
        margin-right: 10px;
        select {
            width: 100%;
            height: 100%;
        }
    }
    .product-name {
        margin-top: 10px;
    }
    .product-count{
        height: 72px;
        margin-top: 10px;
        line-height: 30px;
    }
    .product-count {
        color: #999;
        .count-inp {
            padding-top: 6px;
            overflow: hidden;
        }
        input {
            height: 26px;
            color: #c0c0c0;
            border: 1px solid #d9d9d9;
            width: 100%;
            padding-left: 5px;
            box-sizing: border-box;
        }
    }
    .footer-bar {
        position: fixed;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        .next-btn {
            margin: 15px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            color: #fff;
            font-size: 18px;
            border-radius: 4px;
            overflow: hidden;
            &.disabled {
                background-color: #e7e7e7;
            }
            &.enabled {
                background-color: #3d95eb;
            }
        }
    }
}