.loan-merchant {
    height: 100%;
    width: 100%;
    background: #67ceff;
    .merchant-block {
        background: url(../../imgs/decoration.2x.png) no-repeat 0 0 / contain;
        width: 85%;
        height: 100%;
        margin: 0 auto;
    }
    .scan-btn {
        background: #ffffff;
        border-radius: 28px;
        width: 239px;
        height: 39px;
        line-height: 39px;
        font-size: 22px;
        color: #3d95eb;
        text-align: center;
        position: fixed;
        z-index: 1;
        left: 50%;
        margin-left: -120px;
        bottom: 60px;
    }
}