<div>
    <section class="info_area">
        <div class="detail_item">
            <label class="label_left">姓名</label><label class="label_right">王明亮</label>
        </div>
        <div class="detail_item">
            <label class="label_left">更新时间</label><label class="label_right">2016-07-31</label>
        </div>
        <div class="detail_item">
            <label class="label_left">公积金账户</label><label class="label_right">2222</label>
        </div>
        <div class="detail_item">
            <label class="label_left">账户余额</label><label class="label_right">32058.50</label>
        </div>
        <div class="detail_item">
            <label class="label_left">账缴存额</label><label class="label_right">32058.50</label>
        </div>
    </section>
    <section class="mg-top10 message_info_item">
        <div class="info_title_head ui-border-t">
            <div class="detail_item ui-border-b">
                <label class="label_left">所属单位</label><label class="label_right">万达金融有限公司</label>
            </div>
            <div class="detail_item ui-border-b">
                <label class="label_left">账户状态</label><label class="label_right">正常缴纳</label>
            </div>
            <div class="detail_item ui-border-b">
                <label class="label_left">未缴纳记录</label><label class="label_right">2015-09-08</label>
            </div>
        </div>
    </section>
    <h2 class="mg-top10">账户明细</h2>
    <section>
        <div ng-repeat="year in ar_year" class="info_title_head ui-border-b ui-flex ui-flex-align-center" ng-class="{'ui-border-t': $index == 0}">
            <h3>{{year}}</h3>
            <i class="ui-icon-arrow ui-flex-pack-end" ng-click="showDetail(year)"></i>
        </div>
    </section>
</div>