<div>
    <section class="mg-top10 ui-border-tb list_info_area info_area" ng-repeat="account in ar_account_item"
    ng-click="showDetail(account.id)">
        <div class="detail_item" >
            <label class="label_left">姓名</label><label class="label_right">{{account.name}}</label>
        </div>
        <div class="detail_item" >
            <label class="label_left">账户余额</label><label class="label_right">{{account.amount}}</label>
        </div>
        <div class="detail_item" >
            <label class="label_left">最后缴存记录</label><label class="label_right">{{account.last_date}}</label>
        </div>
        <div class="clear"></div>
    </section>
    <button class="ui-row ui-btn-lg ui-btn-primary mg-top30" ng-click="addAccount()">添加账户</button>
</div>